
@{
    ViewBag.Title = "Confirm Email Address Sent";
}
@Html.Partial("_Slides")

<div class="section">

    <div class="container">
        <div class="alert alert-success col-sm-offset-2 col-sm-10">
            Please check your email inbox, a confirmation email has been sent to <strong> @ViewBag.Email </strong>
        </div>
    </div>
</div>
